
// .re_schedule_page_container {
//     width: 100%;
//     // background-color: #fff;
//     .schedule-card {
//         margin-top: 25px;
//     }
// .card-box {
//     border: 2px solid #e1dbdb;
//     background-color: #fff;
//     .ant-avatar {
//         width: 60px;
//         height: 60px;
//     }

// .card-head {
//     border-bottom: 1px solid #f0f0f0;
//     height: 70px;
// }
// .user-details{
//     border-bottom: 1px solid #f0f0f0;
//     height: 100px; 
//     .card-header {
//        padding-top: 25px;
//     }
// }
// .card-header {
//     display: flex;
//     padding: 15px;

//     h1{
//         padding-left: 10px;
//         color: #52c41a;
//         font-size: 25px;
//         font-weight: 700;
//     }
//     span.anticon.anticon-check-circle {
//         font-size: 35px;        
//         padding-top: 5px;
//     }
//     h4{
//         padding-top: 8px;
//         padding-left: 20px;
//     }
// }
// .footer-details{
//     display: flex;
//     padding: 15px;
//     i{
// 		padding-left: 25px;
// 	}
//     .res-btn{
//     background-color: orange;
//     border-radius: 5px;
//     border: none;
//     color: #fff;
//     margin-top: 6px;
//     }
//     h3{
//         height: 13px;
//     }
//     h4{
//         color: #ddd0be;
//         font-weight: 400;
//     }
//     .date-time{
//         border-left: 2px solid orange;
//         padding-left: 15px;
//     }
// }
// }
// .card-box-payment{
//     border: 2px solid #e1dbdb;
//     background-color: #fff;
// .card-head {
//     border-bottom: 1px solid #f0f0f0;
//     height: 70px;
//     h3{
//         margin-top: 8px;
//     }
// }
// .user-details{
//     border-bottom: 1px solid #f0f0f0;
//     height: 100px; 
//     .card-header {
//        padding-top: 0px;
//     }
//     .rate-row{
//       height: 30px;  
//     }
// }
// .card-header {
//     padding: 15px;

//     h4.rupess{
//         width: 85px;
//     }
//     h4{
//         padding-top: 8px;
//         padding-left: 20px;
//         color: #9b9286;
//     }
// }
// .footer-details{
//     padding: 15px;
//     i{
// 		padding-left: 25px;
// 	}
//     .pay-btn-head{
//         text-align: center;
//         margin-top: 15px;
//         margin-bottom: 20px;
//     }
//     .pay-btn{
//     background-color: #a4d5a4;
//     border-radius: 5px;
//     border: none;
//     color: #fff;
//     margin-top: 6px;
//     width: 155px;
//     }
//     h3{
//         padding-left: 20px;
//     }
//     .total-rup{
//         width: 85px;
//         font-weight: bold;
//     }
   

// }
// }
// .card-box-service{
//     border: 2px solid #e1dbdb;
//     background-color: #fff;
// .card-head {
//     border-bottom: 1px solid #f0f0f0;
//     height: 78px;
// }
// .card-header {
//     padding: 10px;

//     h3{
//         font-size: 18px;
//         height: 22px;
//     }
//     h4{
//         color: #9b9286;
//     }
//     .right-arrow{
//         margin-top: 23px;
//         font-size: 20px;
//         i{
//             cursor: pointer;
//         }
//     }
// }  
// }
// .card-box-help{
//     margin-top: 15px;
//   .ph-btn{
//     background-color: #ebe5e5;
//     border-radius: 5px;
//     border: none;
//     color: #0a0a0a;
//     i{
//         padding-left: 5px;
//         font-size: 15px;
//     }
//   }
// }
// }

$primary-bg-color: #F7B1AB;
$secondary-bg-color: #807182;
$font-color: rgba(0,0,0,.8);
$font-family: 'Montserrat',sans-serif;
$form-border-color: rgba(0,0,0,.1);

.profile_page_container{
    overflow: hidden;
    width: 100%;
    background-color: #fff;

    .set {
        // justify-content: space-between;
        // margin: 15px 0;
    }
    .ant-avatar{
        width: 230px;
        height: 230px;
    }
    .card-header {
        // margin: 60px;
        position: relative;
    left: 60px;
    top: 70px;
        i{
            position: absolute;
            left: 175px;
            top: 188px;
    background-color: #9d9db7;
    width: 30px;
    height: 30px;
    padding-left: 3px;
    border-radius: 50%;
    color: #fff;
    font-size: 25px;
    cursor: pointer;
        }
    }
    .profile-footer {
        margin-top: 20px;
        h4{
            margin-left: -20px;
        }
    }
  
    & input {
        border: 1px solid $form-border-color;
        border-radius: 10px;
        height: 50px;
        line-height: 38px;
        padding-left:20px;
        // background-color: #f6f4f4;
        width: 100%;
    }
  
    & input, label {
        color: $font-color;
    }
    & label{
        display: block;
        margin-bottom: 5px;
        font-weight: 600;
    }


    .btn-div{
    button {
        border: none;
        height: 35px;
        line-height: 25px;
        border-radius: 5px;
        text-transform: uppercase;
    }  
    #cancel{
        border: 1px solid #dfd9d9 !important;
        background-color: #fff;
    }
    #save{
        background-color: #0cbf0c;
        color: #ffff;
    
    }
    #change{
        border: 1px solid #dfd9d9 !important;
        background-color: #fff;
        margin-left: 18px;
    }
}
}